<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fridgefriend">
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <activity android:name=".Recipe.RecipeByIdActivity"></activity>
        <activity android:name=".Recipe.AddRecipeActivity" />
        <activity android:name=".Recipe.RecipeActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authorization.LoginActivity"
            android:label="Login Activity" />
        <activity
            android:name=".RegistryActivity"

            android:label="Registry Activity"></activity>
        <activity
            android:name=".FridgeActivity"
            android:label="Fridge Activity"></activity>
        <activity
            android:name=".ProductsActivity"
            android:label="Product Activity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="Main Activity"></activity>
        <activity
            android:name=".Product.CreateProductActivity"
            android:label="Create Product Activity"></activity>

    </application>

</manifest>